@model Register;
@{
	ViewBag.Page = "Register";
    Layout = null;
    ViewBag.CurrentUrl = "~/Auth/Register";
}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
	<meta name="Author" content="Spruko Technologies Private Limited">
	<meta name="Keywords" content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4" />

	<!-- Title -->
	<title> Eris Rates </title>

	<!-- Favicon -->
	<link rel="icon" href="~/favicon.ico" type="image/x-icon" />

	<!-- Icons css -->
	<link href="~/css/icons.css" rel="stylesheet">

	<!-- Extra css -->
	<link href="~/css/ExtraStyle.css" rel="stylesheet">

	<!--  bootstrap css-->
	<link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!--  Right-sidemenu css -->
	<link href="~/plugins/sidebar/sidebar.css" rel="stylesheet">

	<!-- P-scroll bar css-->
	<link href="~/plugins/perfect-scrollbar/p-scrollbar.css" rel="stylesheet" />

	<!--- Style css --->
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/style-dark.css" rel="stylesheet">
	<link href="~/css/style-transparent.css" rel="stylesheet">

	<!---Skinmodes css-->
	<link href="~/css/skin-modes.css" rel="stylesheet" />

	<!--- Animations css-->
	<link href="~/css/animate.css" rel="stylesheet">

</head>
<body class=" ltr error-page1 bg-primary dark-theme">
	<!-- Loader -->
	<div id="global-loader">
		<img src="~/img/loader.svg" class="loader-img" alt="Loader">
	</div>
	<!-- /Loader -->

	<div class="square-box">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="page">
		<div class="page-single">
			<div class="container">
				<div class="row">
					<div class="col-xl-7 col-lg-6 col-md-8 col-sm-8 col-xs-10 card-sigin-main py-4 justify-content-center mx-auto">
						<div class="card-sigin ">
							<div class="main-card-signin d-md-flex">
								<div class="wd-100p">

									<div class="d-flex mb-4" style="align-items:center;">
										<a href="#">
											<img src="~/imageIcons/medium/images (3).png" class="sign-favicon ht-40" alt="logo">
										</a> <h3 style="font-weight:700;">ERIS</h3>
									</div>

									<div class="">
										<div class="main-signup-header">
											<h2 class="text-dark">Get Started</h2>
											<h6 class="font-weight-normal mb-4">It's free to signup and only takes a minute.</h6>
											<form id="myRegisterForm" asp-antiforgery="true">
                                                @*FirstName*@
                                                <div class="form-group">
													<label asp-for="FirstName">FirstName</label>
													<input class="form-control" asp-for="FirstName" placeholder="Enter your firstname" oninput="validate(this)">
													<span asp-validation-for="FirstName" class="text-red"></span>
												</div>

                                                @*LastName*@
                                                <div class="form-group">
													<label asp-for="LastName">LastName</label>
													<input class="form-control" asp-for="LastName" placeholder="Enter your lastname" oninput="validate(this)">
													<span asp-validation-for="LastName" class="text-red"></span>
                                                </div>

                                                @*Email*@
												<div class="form-group">
													<label asp-for="Email">Email</label>
													<input class="form-control" asp-for="Email" placeholder="Enter your email" oninput="validateEmail(this)">
													<span asp-validation-for="Email" class="text-red"></span>
                                                </div>

                                                @*Password*@
												<div class="form-group">
													<label asp-for="Password">Password</label>
													<input class="form-control" asp-for="Password" placeholder="Enter your password">
													<span asp-validation-for="Password" class="text-red"></span>
												</div>

                                                @*Confirm-Password*@
												<div class="form-group">
													<label asp-for="ConfirmPassword">Confirm Password</label>
													<input class="form-control" asp-for="ConfirmPassword" placeholder="Enter your password">
													<span asp-validation-for="ConfirmPassword" class="text-red"></span>
												</div>

                                                @*PhoneNumber*@
                                                <div class="form-group">
                                                        <label asp-for="PhoneNumber" class="form-label pt">PhoneNumber</label>
													<input asp-for="PhoneNumber" class="form-control" oninput="validateNo(this)" />
                                                        <span asp-validation-for="PhoneNumber" class="text-red"></span>
                                                </div>

                                                @*Gender*@
                                                <div class="form-group">
                                                    <div class="w-25">
                                                        <label asp-for="Gender" class="form-label pt">Gender</label>
                                                    </div>
                                                    <div class="flex-1 flex">
                                                        @*  <select asp-for="UserType" class="form-input">
                                                        <option value="">Please Select</option>
                                                        </select> *@
                                                        <div>
                                                            <input type="radio" id="Male" value="Male" asp-for="Gender" class="form-input" checked />
                                                            <label for="Male">Male</label>
                                                        </div>

                                                        <div>
                                                            <input type="radio" id="Female" value="Female" asp-for="Gender" class="form-input" />
                                                            <label for="Female">Female</label>
                                                        </div>
                                                        <span asp-validation-for="Gender" class="text-red"></span>
                                                    </div>
                                                </div>

                                                @*UserType*@
                                                <div class="form-group">
                                                    <div class="w-25">
                                                        <label asp-for="UserType" class="form-label pt">User Type</label>
                                                    </div>
                                                    <div class="flex-1 flex">
                                                        <div>
                                                            <input type="radio" id="User" value="User" asp-for="UserType" class="form-input" checked />
                                                            <label for="User">User</label>
                                                        </div>

                                                        <div>
                                                            <input type="radio" id="Admin" value="Admin" asp-for="UserType" class="form-input" />
                                                            <label for="Admin">Admin</label>
                                                        </div>

                                                        <div>
                                                            <input type="radio" id="Developer" value="Developer" asp-for="UserType" class="form-input" />
                                                            <label for="Developer">Developer</label>
                                                        </div>
                                                        <span asp-validation-for="UserType" class="text-red"></span>
                                                    </div>
												</div>

												<button class="btn btn-primary btn-block" onclick="submitRegisterForm()">Create Account</button>

											</form>
											<div class="main-signup-footer mt-3 text-center">
                                                <p>Already have an account? <a asp-action="Login" asp-controller="Auth">Sign In</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	<!-- JQuery min js -->
	<script src="~/plugins/jquery/jquery.min.js" asp-append-version="true"></script>

	<!-- Bootstrap js -->
	<script src="~/plugins/bootstrap/js/popper.min.js" asp-append-version="true"></script>
	<script src="~/plugins/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>

	<!-- Ionicons js -->
	<script src="~/plugins/ionicons/ionicons.js" asp-append-version="true"></script>

	<!-- Moment js -->
	<script src="~/plugins/moment/moment.js" asp-append-version="true"></script>

	<!-- eva-icons js -->
	<script src="~/js/eva-icons.min.js" asp-append-version="true"></script>

	<!-- generate-otp js -->
	<script src="~/js/generate-otp.js" asp-append-version="true"></script>

	<!--Internal  Perfect-scrollbar js -->
	<script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js" asp-append-version="true"></script>

	<!-- Theme Color js -->
	<script src="~/js/themecolor.js" asp-append-version="true"></script>

	<script src="~/Submit.js" asp-append-version="true"></script>

	<!-- custom js -->
	<script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

</body>
</html>



